@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    background-color: #f8f9fa;
}

.navbar {
    border-bottom: 1px solid #dee2e6;
}

.nav-link.btn {
    border: none;
    background: none;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    color: var(--bs-nav-link-color);
    text-align: left;
}

.nav-link.btn:hover {
    color: var(--bs-nav-link-hover-color);
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.card-img-top {
    height: 180px;     
    width: 100%; 
    object-fit: cover;  
}